
.snakemake

upload_nextstrain

data/*
auspice/JLBailly

*errors.csv

ingest/.snakemake/
ingest/benchmarks/
ingest/logs/

*/results/
*/temp/
ingest/data/*
!ingest/data/references/
ingest/data/references/nextclade.tsv

*.code-workspace

scripts/bin
scripts/__pycache__

Simplot

.env

compare-alignments
ingest/vendored
temp/

logs
backup